.content{
    display: block;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    margin:40px;
    font-size: 40px;
    line-height: 20px;
    font-weight: 700;
    color:#00b992;
}
