/* Container */
.navContainer {
    /* width: 100vw; */
    height: 90px;
    left:0px;
    top: 0px;

    background-color: #00b992;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/* Logo */
.logo_container {
    position: absolute;
    left: 100px;
    height: inherit;

    display: flex;
    align-items: center;
}
.logo_container img {
    /* width: 15%; */
    width: 230px;
    left: 100px;
}

/* Nav Links */
.nav_links_container {
    position: absolute;
    left: 400px;
    height: inherit;

    display: flex;
    align-items: center;
}
.nav_links_container > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;

    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 0 20px;
    transition: all 0.3s ease;
}
