.sub_content{
    position:relative;
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    top:40px;
    font-size: 25px;
    line-height: 20px;
    font-weight: 700;
    color:#00b992;
}
