
.arrowContainer {
    display: flex;
    align-items: center;
}


.arrow {
    width: 3vw; /* 상대적인 너비 설정 */
    height: 0.2vw; /* 상대적인 높이 설정 */
    background-color: seagreen;
    margin: 0.3vw; /* 상대적인 여백 설정 */
}


.stoneImage {
    width: 80px;
    height: 90px;
}


.stoneItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}


.stoneNumber {
    font-size: 15px;
    margin-top: -10px;
    color : grey;
}


